/* blue    pale    light grey  grey    dark grey */
/* #004489 #E1E1D6 #D3D9DF     #989898 #565656  */

html, body {
    overflow: hidden;
  	font: 14px Montserrat;
    background-color: #D3D9DF;
}

#main-container {
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
}

#audio-view-container {
    position: fixed;
    margin: 0px;
    top: 0px;
    right: 0px;
    height: 140px; 
    width: 50%; 
    background-color: #565656;
}

#file-view-container {
    position: fixed;
    margin: 0px;
    top: 150px;
    left: 0px;
    width: 49%; 
    float: left; 
    height: 100%; 
    -webkit-user-select: none;
}

#navigation-view-container {
    position: fixed;
    margin: 0px;
    top: 0px;
    left: 0px;
    height: 130px;
    padding-top: 10px;
    width: 50%;
    -webkit-user-select: none;
    list-style: none;
    background-color: #565656;
    color: white;
    z-index: 99;
}

#queue-view-container {
    position: fixed;
    margin: 0px;
    top: 150px;
    right: 0px;
    width: 49%; 
    max-height: 100%;
    float: left; 
    min-height: 400px;
    -webkit-user-select: none;
}

.scroll-box {
    overflow: auto;
    position: static;
}

#audio-view-container > div {
    text-align: center;
    color: white;
    display: block;
    margin-top: 15px;
}

#audio-view-container audio, #audio-view-container table {
    margin-left: auto;
    margin-right: auto;
}

#audio-view-container td {
    padding: 0 15px 0 15px;
}


#file-view-container ul {
    list-style: none;
    -webkit-user-select: none;
}

#file-view-container ul>li:nth-child(even) {
    background-color: #E1E1D6;
}

#queue-view-container ul {
    margin: 0px;
    list-style: none;
    -webkit-user-select: none;
}

#queue-view-container ul>li:nth-child(even) {
    background-color: #E1E1D6;
}

.song-item, .group-item {
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-user-select: none;
}

.button {
    position: relative;
    padding: 10%;
    width: 80%;
}

.button-container {
    width: 33%; 
    float: left; 
    padding: auto; 
    margin: auto; 
    text-align: center;
}

